<footer th:fragment="footer" class="bg-dark text-light py-5 mt-5">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="col-md-3">
                <img class="img-fluid" src="/assets/logo/logo_dark.svg">
                <p class="fw-light text-white opacity-75 mt-3">
                    Mailing address for check donations in support of Charity Navigator:  Charity Navigator PO Box 4009 Harlan,<br>
                    IA 51593  Note: We cannot process checks in support of other nonprofits.<br>
                     Use our Giving Basket to support other organizations through our website.
                </p>
            </div>
            <div class="col-md-3">
                <h6 class="fs-4 fw-bold">More</h6>
                <ul class="list-unstyled small mt-3">
                    <li><a href="/about" class="text-decoration-none text-light opacity-75">About us</a></li>
                    <li><a href="/contact" class="text-decoration-none text-light opacity-75">Contact</a></li>
                    <li><a href="/organisations" class="text-decoration-none text-light opacity-75">Organizations</a></li>
                    <li><a href="/explore" class="text-decoration-none text-light opacity-75">Charities</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="fs-4 fw-bold">Social</h6>
                <div class="d-flex  mt-3">
                    <span class="me-3"><a href="#" class="text-decoration-none text-light"><i class="fa-brands fa-facebook fs-2"></i></a></span>
                    <span class="me-3"><a href="#" class="text-decoration-none text-light"><i class="fa-brands fa-instagram fs-2"></i></a></span>
                    <span class="me-3"><a href="#" class="text-decoration-none text-light"><i class="fa-brands fa-x-twitter fs-2"></i></a></span>
                    <span class="me-3"><a href="#" class="text-decoration-none text-light"><i class="fa-brands fa-linkedin fs-2"></i></a></span>
                </div>
            </div>
        </div>
        <hr class="bg-light">
        <p class="text-center small mt-3">©2025 | EIN 13-4148824 | Bridge ID 3108588923</p>
    </div>
</footer>
