<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">
            <img src="assets/logo/logo_light.svg" alt="Logo" width="80" class="me-2">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item me-3"><a class="nav-link fw-medium text-dark fs-6" href="/">Home</a></li>
                <li class="nav-item me-3"><a class="nav-link fw-medium text-dark fs-6" href="/charities">Charities</a></li>
                <li class="nav-item me-3"><a class="nav-link fw-medium text-dark fs-6" href="/organisations">Organisations</a></li>
                <li class="nav-item me-3"><a class="nav-link fw-medium text-dark fs-6" href="/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>
