<div th:replace="components/head :: head"></div>
<!-- NAVBAR -->
<div th:replace="components/navbar :: navbar"></div>


<!-- DISCOVER LIST -->
<section class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4" >
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src='/assets/images/charity1.jpg' style="height:250px" class="card-img-top object-fit-cover" alt="Image">
                <div class="card-body">
                    <h5 class="card-title fw-bold" >Myanmar and Thailand Earthquake</h5>
                    <p class="card-text">Highly rated charities providing both immediate and long-term support to those affected by the recent Myanmar earthquake.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src='/assets/images/charity2.jpg' style="height:250px" class="card-img-top object-fit-cover" alt="Image">
                <div class="card-body">
                    <h5 class="card-title fw-bold" >Charity Title</h5>
                    <p class="card-text">Highly rated charities providing both immediate and long-term support to those affected by the recent Myanmar earthquake.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src='/assets/images/charity3.jpg' style="height:250px" class="card-img-top object-fit-cover" alt="Image">
                <div class="card-body">
                    <h5 class="card-title fw-bold" >Charity Title</h5>
                    <p class="card-text">Highly rated charities providing both immediate and long-term support to those affected by the recent Myanmar earthquake.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src='/assets/images/charity3.jpg' style="height:250px" class="card-img-top object-fit-cover" alt="Image">
                <div class="card-body">
                    <h5 class="card-title fw-bold" >Charity Title</h5>
                    <p class="card-text">Highly rated charities providing both immediate and long-term support to those affected by the recent Myanmar earthquake.</p>
                </div>
            </div>
        </div><div class="col">
        <div class="card h-100 shadow-sm">
            <img src='/assets/images/charity3.jpg' style="height:250px" class="card-img-top object-fit-cover" alt="Image">
            <div class="card-body">
                <h5 class="card-title fw-bold" >Charity Title</h5>
                <p class="card-text">Highly rated charities providing both immediate and long-term support to those affected by the recent Myanmar earthquake.</p>
            </div>
        </div>
    </div><div class="col">
        <div class="card h-100 shadow-sm">
            <img src='/assets/images/charity3.jpg' style="height:250px" class="card-img-top object-fit-cover" alt="Image">
            <div class="card-body">
                <h5 class="card-title fw-bold" >Charity Title</h5>
                <p class="card-text">Highly rated charities providing both immediate and long-term support to those affected by the recent Myanmar earthquake.</p>
            </div>
        </div>
    </div><div class="col">
        <div class="card h-100 shadow-sm">
            <img src='/assets/images/charity3.jpg' style="height:250px" class="card-img-top object-fit-cover" alt="Image">
            <div class="card-body">
                <h5 class="card-title fw-bold" >Charity Title</h5>
                <p class="card-text">Highly rated charities providing both immediate and long-term support to those affected by the recent Myanmar earthquake.</p>
            </div>
        </div>
    </div>
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src='/assets/images/charity3.jpg' style="height:250px" class="card-img-top object-fit-cover" alt="Image">
                <div class="card-body">
                    <h5 class="card-title fw-bold" >Charity Title</h5>
                    <p class="card-text">Highly rated charities providing both immediate and long-term support to those affected by the recent Myanmar earthquake.</p>
                </div>
            </div>
        </div><div class="col">
        <div class="card h-100 shadow-sm">
            <img src='/assets/images/charity3.jpg' style="height:250px" class="card-img-top object-fit-cover" alt="Image">
            <div class="card-body">
                <h5 class="card-title fw-bold" >Charity Title</h5>
                <p class="card-text">Highly rated charities providing both immediate and long-term support to those affected by the recent Myanmar earthquake.</p>
            </div>
        </div>
    </div>





    </div>
</section>

<!-- FOOTER -->
<div th:replace="components/footer :: footer"></div>

</body>
</html>
