<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Organisations</title></head>
<body>
<h1>Organisations</h1>

<a th:href="@{/organisations/create}">Create New Organisation</a>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Approved</th>
        <th>Actions</th>
    </tr>
    <tr th:each="org : ${organisations}">
        <td th:text="${org.id}"></td>
        <td th:text="${org.nom}"></td>
        <td th:text="${org.description}"></td>
        <td th:text="${org.estApprouvee}"></td>
        <td>
            <a th:href="@{'/organisations/edit/' + ${org.id}}">Edit</a> |
            <a th:href="@{'/organisations/delete/' + ${org.id}}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
